@page "/counter"
@page "/counter/{increment:int}"
@page "/counter/{routeName}"


<CryptoNewBlazorWasm.Components.CatchAll></CryptoNewBlazorWasm.Components.CatchAll>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p>@RouteName</p>
<p>@increment</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


